/*@import "../template/mixins";
@import "../template/settings";*/
@import url(http://fonts.googleapis.com/css?family=Duru+Sans);
.reveal .progress {
  height: 6px;
}
  .reveal .progress span {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3); }
.reveal section img {
  border: 8px solid white !important;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5) !important; }
.reveal pre {
  font-size: 0.8em !important; }
.reveal blockquote {
  background: url(img/quotemark.png) 0 0 no-repeat;
  padding: 18px 0px 105px 30px !important;
  box-shadow: none; }

/*@import "../template/theme";*/
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: white;
  background-color: white; }

.reveal {
  font-family: 'Duru Sans', sans-serif;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #3F3F3F3F3F3F; }

::selection {
  color: white;
  background: #ff5e99;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  margin: 0 0 20px 0;
  color: #3F3F3F3F3F3F;
  font-family: 'Duru Sans', sans-serif;
  line-height: 0.9em;
  letter-spacing: 0;
  text-transform: normal;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #3F3F3F;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #3F3F3F;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #392245; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #3F3F3F3F3F3F;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #3F3F3F;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #3F3F3F; }

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #3F3F3F; }

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #3F3F3F; }

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: #3F3F3F; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #3F3F3F; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #3F3F3F; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #3F3F3F; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #3F3F3F; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #3F3F3F;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
